[Unit]
Description=server.js - making your environment variables rad
After=network.target

[Service]
WorkingDirectory=/tmp/home/runner/work/webapp/webapp
ExecStart=/usr/bin/node /tmp/home/runner/work/webapp/webapp/server.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=NODE_ENV=production


[Install]
WantedBy=multi-user.target